html
  head
    title #{title}
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    script(src='js/lazysizes.min.js' async)
    link(rel='stylesheet', href='css/goodycal_main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Kalam')
  body
    section(class='calendar-page')
        section(class='calendar-grid')
            div(class='calendar-title')
                p(class='spacer') X
                h1 #{title}
                p #{subtitle}
            div(class='calendar-text')
                p(class='spacer')
                p #{text1}
                p #{text2}
            div(class='calendar-day-25')
                label
                    input(type='checkbox')            
                    div(class="door locked")
                        div(class='blind') 
                            img(src='https://upload.wikimedia.org/wikipedia/commons/3/3b/Star_icon.png')
            div(class='calendar-day-26')
                label
                    input(type='checkbox')            
                    div(class="door locked")
                        div(class='blind') 
                            img(src='https://upload.wikimedia.org/wikipedia/commons/3/3b/Star_icon.png')
                    
            each day, i in calendar_days
                div(class='calendar-day-'+(i+1))
                    label
                        input(type='checkbox')
                        div(class='door '+day.doorclass)
                            div(class='front') 
                                img(src='/img/door.jpg')
                                h5 #{day.doordate.substring(8).replace(/^0/, '')}
                            div(class='back video-container')
                                iframe(data-src=day.goody class="lazyload" frameborder='0' allowfullscreen='allowfullscreen')                        
        section(class='calendar-footer')
            a(href='html/impressum.html') Impressum
        